In [23]:
# Import necessary libraries
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
from time import sleep
import os
import numpy as np
from sklearn.metrics import r2_score
import sklearn as sk
import math
from amb_sdk.sdk import DarwinSdk

ds = DarwinSdk()
ds.set_url('https://amb-demo-api.sparkcognition.com/v1/')
status, msg = ds.auth_login_user('EM.J.REINHART@GMAIL.COM', 'xeyW2ue46p')

if not status:
    print(msg)

In [24]:
# Preview dataset
df = pd.read_csv("austin-animal-center-outcomes-1.csv")
df.head(20)

# Upload dataset
# status, dataset = ds.upload_dataset("austin-animal-center-outcomes-1.csv")
# print(status)
# print(dataset)

# if not status:
#     print(dataset)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A771830,*Bradley,12/27/2018 01:25:00 PM,12/27/2018 01:25:00 PM,05/10/2017,Adoption,Foster,Dog,Neutered Male,1 year,Pit Bull Mix,White/Blue
1,A779576,*Rajah,10/01/2018 05:03:00 PM,10/01/2018 05:03:00 PM,04/18/2018,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Brown Tabby
2,A741715,*Pebbles,01/11/2017 06:17:00 PM,01/11/2017 06:17:00 PM,03/07/2016,Adoption,NaN,Cat,Spayed Female,10 months,Domestic Shorthair Mix,Calico
3,A658751,Benji,11/13/2016 01:38:00 PM,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,5 years,Border Terrier Mix,Tan
4,A721285,NaN,02/24/2016 02:42:00 PM,02/24/2016 02:42:00 PM,02/24/2014,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon Mix,Black/Gray
5,A746650,Rose,04/07/2017 11:58:00 AM,04/07/2017 11:58:00 AM,04/06/2016,Return to Owner,NaN,Dog,Intact Female,1 year,Labrador Retriever/Jack Russell Terrier,Yellow
6,A750122,Happy Camper,05/24/2017 06:36:00 PM,05/24/2017 06:36:00 PM,04/08/2017,Transfer,Partner,Dog,Intact Male,1 month,Labrador Retriever Mix,Black
7,A756696,Shakti,09/01/2017 11:23:00 AM,09/01/2017 11:23:00 AM,08/24/2014,Return to Owner,NaN,Cat,Spayed Female,3 years,Domestic Shorthair Mix,Blue/White
8,A784168,NaN,11/14/2018 12:33:00 PM,11/14/2018 12:33:00 PM,03/12/2018,Transfer,Partner,Dog,Intact Male,8 months,English Springer Spaniel Mix,Black/White
9,A707443,NaN,07/13/2015 01:50:00 PM,07/13/2015 01:50:00 PM,06/21/2015,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Longhair Mix,Black Smoke
10,A666430,Lucy,11/07/2013 11:47:00 AM,11/07/2013 11:47:00 AM,11/06/2012,Transfer,Partner,Dog,Spayed Female,1 year,Beagle Mix,White/Brown
11,A675708,*Johnny,06/03/2014 02:20:00 PM,06/03/2014 02:20:00 PM,03/31/2013,Adoption,NaN,Dog,Neutered Male,1 year,Pit Bull,Blue/White
12,A680386,Monday,06/15/2014 03:50:00 PM,06/15/2014 03:50:00 PM,06/02/2005,Transfer,Partner,Dog,Neutered Male,9 years,Miniature Schnauzer Mix,White
13,A684346,NaN,07/22/2014 04:04:00 PM,07/22/2014 04:04:00 PM,07/07/2014,Transfer,Partner,Cat,Intact Male,2 weeks,Domestic Shorthair Mix,Orange Tabby
14,A754895,Miso,07/30/2017 12:03:00 PM,07/30/2017 12:03:00 PM,06/07/2017,Adoption,NaN,Cat,Intact Male,1 month,Domestic Shorthair Mix,Brown Tabby/White
15,A683115,NaN,07/07/2014 02:04:00 PM,07/07/2014 02:04:00 PM,01/07/2014,Euthanasia,Rabies Risk,Other,Unknown,5 months,Bat Mix,Brown
16,A664462,*Edgar,10/07/2013 01:06:00 PM,10/07/2013 01:06:00 PM,06/03/2013,Transfer,Partner,Dog,Intact Male,4 months,Leonberger Mix,Brown/White
17,A785671,Toots,12/07/2018 05:36:00 PM,12/07/2018 05:36:00 PM,12/07/2015,Return to Owner,NaN,Cat,Intact Female,3 years,Domestic Shorthair Mix,Blue Tabby
18,A762837,NaN,12/02/2017 04:24:00 PM,12/02/2017 04:24:00 PM,11/28/2016,Transfer,Partner,Dog,Neutered Male,1 year,Australian Shepherd/Nova Scotia Duck Tolling R...,Chocolate/White
19,A713785,NaN,10/19/2015 02:55:00 PM,10/19/2015 02:55:00 PM,05/29/2015,Transfer,Partner,Dog,Neutered Male,4 months,Labrador Retriever Mix,Red

In [25]:
# clean dataset
TRAIN_DATASET = "austin-animal-center-outcomes-1.csv"

status, job_id = ds.clean_data(TRAIN_DATASET, index = "DateTime")

if status:
    ds.wait_for_job(job_id['job_name'])
else:
    print(job_id)

{'status': 'Taken', 'starttime': '2019-04-11T13:38:11.272225', 'endtime': None, 'percent_complete': 0, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['austin-animal-center-outcomes-1.csv'], 'artifact_names': ['77ca8bcf734743369ab2a1183353d620'], 'model_name': None, 'job_error': None}
{'status': 'Running', 'starttime': '2019-04-11T13:38:11.272225', 'endtime': None, 'percent_complete': 0, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['austin-animal-center-outcomes-1.csv'], 'artifact_names': ['77ca8bcf734743369ab2a1183353d620'], 'model_name': None, 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-11T13:38:11.272225', 'endtime': None, 'percent_complete': 0, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['austin-animal-center-outcomes-1.csv'], 'artifact_names': ['77ca8bcf734743369ab2a1183353d620'], 'model_name': None, 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-11T13:38:11.272225', 'endtime': None, 'percent_complete': 0, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['austin-animal-center-outcomes-1.csv'], 'artifact_names': ['77ca8bcf734743369ab2a1183353d620'], 'model_name': None, 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-11T13:38:11.272225', 'endtime': None, 'percent_complete': 0, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['austin-animal-center-outcomes-1.csv'], 'artifact_names': ['77ca8bcf734743369ab2a1183353d620'], 'model_name': None, 'job_error': ''}
{'status': 'Complete', 'starttime': '2019-04-11T13:38:11.272225', 'endtime': '2019-04-11T13:39:16.767435', 'percent_complete': 100, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['austin-animal-center-outcomes-1.csv'], 'artifact_names': ['77ca8bcf734743369ab2a1183353d620'], 'model_name': None, 'job_error': ''}

In [33]:
# dowload cleaned data
# download_dataset with the first parameter set to the artifact name and the second parameter
# set to the directory where you want the file to be downloaded.
message, location = ds.download_dataset('77ca8bcf734743369ab2a1183353d620', 'C:/Users/Emily/Desktop/Data Project-Animal Shelter')
if message:
    d_data = pd.read_csv(location['filename'])
d_data.head(20)

,DateTime,Outcome Type$$Died,Outcome Type$$Disposal,Outcome Type$$Euthanasia,Outcome Type$$Missing,Outcome Type$$Relocate,Outcome Type$$Return to Owner,Outcome Type$$Rto-Adopt,Outcome Type$$Transfer,Outcome Subtype$$At Vet,...,Age upon Outcome$$5 years,Age upon Outcome$$6 days,Age upon Outcome$$6 months,Age upon Outcome$$6 years,Age upon Outcome$$7 months,Age upon Outcome$$7 years,Age upon Outcome$$8 months,Age upon Outcome$$8 years,Age upon Outcome$$9 months,Age upon Outcome$$9 years
0,2018-12-27 13:25:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2018-10-01 17:03:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2017-01-11 18:17:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2016-11-13 13:38:00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2016-02-24 14:42:00,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2017-04-07 11:58:00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2017-05-24 18:36:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2017-09-01 11:23:00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2018-11-14 12:33:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9,2015-07-13 13:50:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2013-11-07 11:47:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2014-06-03 14:20:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2014-06-15 15:50:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13,2014-07-22 16:04:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2017-07-30 12:03:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2014-07-07 14:04:00,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2013-10-07 13:06:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2018-12-07 17:36:00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2017-12-02 16:24:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2015-10-19 14:55:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
print(d_data)

(True, {'filename': 'C:\\Users\\Emily\\AppData\\Local\\Temp\\77ca8bcf734743369ab2a1183353d620-cleaned-cy8e7dqc.csv'})

In [ ]:
# Create and train model
import datetime
# ts = '{:%Y%m%d%H%M%S}'.format(datetime.datetime.now())
ts = '{:%m%d%Y%H%M%S}'.format(datetime.datetime.now())

target = "Outcome Type"
model = target + "_model0_" + ts

status, job_id = ds.create_model(dataset_names = TRAIN_DATASET, \
                                 model_name =  model, \
                                 max_train_time = '00:05')
if status:
    ds.wait_for_job(job_id['job_name'])
else:
    print(job_id)

In [ ]:
# How many NaN values in Outcome Subtype
# newData = data.fillna("")
# subtype = newData.get('Outcome Subtype')
# empty = 0
# for entry in subtype:
#     if entry== "":
#         empty += 1
# print(empty)

newData = df.fillna("")
subtype = newData.get('Name')
empty = 0
for entry in subtype:
    if entry== "":
        empty += 1
print(empty)